body {
    text-align: center;
    background: url(../CSS/img/fondo.jpg);
    background-size: 100% 100% ;
    color: white;
    font-family: -webkit-pictograph;
    
}
    



.button-primary {
    background: darkred;
    color: white;
    text-decoration: none;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}  	

.header-container {
   
   overflow: auto;
   color: white;
   text-align: center;
   
}

.footer-container {
    padding: 10px;
    color: white;
    text-align: center;
    overflow: auto;
}

.center-image {
    margin: auto;
    display: block;
}

.image-animation {
    animation: 5s ease image-animation;
}

@keyframes image-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.main-class {
    color: white;
    font-family: 'Courier New', Courier, monospace;
   
}

.logo-imagen {
    width: 100%;
    max-width: 500px;
}