html {
    height: 100%;
}

body {
    background: url(../CSS/img/background\ n1000.jpg);
    background-size: cover;
    background-position: right;
    color: white;
    font-family: system-ui;
    height: 100%;
    margin: 0;
}
    
.scrollable-content {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}


.button-primary {
    background: darkred;
    color: white;
    text-decoration: none;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}  	

.header-container {
   
   color: white;
   text-align: center;
   
   
}

.footer-container {
    padding: 10px;
    color: white;
    text-align: center;
    margin-top: auto;
}

.center-image {
    margin: auto;
    display: block;
}

.image-animation {
    animation: 5s ease image-animation;
}

@keyframes image-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.parrafo { 
    color: floralwhite;
    font-family: 'Courier New', Courier, monospace;
    font-size:medium;
    width: 100%;  
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.marvel-logo {

    width: 100%;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo-imagen {
    width: 100%;
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.links-container {
    margin: 20px
}

.links-container a {
    color: #999;
    font-size: 12px;
    padding: 0 10px;
}
